
$body-color: #212c26;
$light: #f4eddf;
$link-color: #525f64;
$jumbotron-bg: #e2eaec;

$primary: #a7baba;
$secondary: #dbd8cd;

$link-decoration: underline;

$photo-count: 12;
$motto-color: #7c5511;
$active-color: #212c26;

@import "~bootstrap/scss/bootstrap";

:root {
  --footer-height: 10vh;
  --page-top-margin: 30px;
  --column-bottom-margin: 30px;
  --gallery-photo-size: 20vh;
  --vertical-margin: 15px;
}

body {
  font-family: Lato, serif;
}

.App, h3 {
  text-align: center;
}

.App-logo {
  height: 7vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.base-col {
  margin-bottom: var(--column-bottom-margin);
}

.base-col .card {
  height: 100%;
}

// Toggler

.vl {
  border-right: 1px solid !important;
}

.btn-group-toggle > .active {
  color: $active-color;
  font-weight: bold;
}

.btn-group-toggle > .btn:focus {
  color: black;
}

.footer {
  line-height: var(--footer-height);
  background-color: $light;
}

.main-content {
  padding: calc(10vmin + 40px) 15px 0;
  max-width: 920px;
  margin: 0 auto;
  min-height: calc(100vh - var(--footer-height));
}

.contact-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 15px;
}

.thumb-container {
  margin: 0;
  padding: 0;
  width: 12vmin;
}

.thumbnail {
  height: 7vmin;
}

.jumbotron {
  display: flex;
}

.personal-photo {
  width: 25vw;
  max-width: 400px;
  float: left;
  margin: 15px;
}

.list-box {
  display: flex;
  flex-direction: column;
}

.page-header {
  text-align: center;
  margin-top: var(--page-top-margin);
  margin-bottom: var(--page-top-margin);
}

// overlays

.overlayed {
  opacity: 1;
}

.base-col:hover .overlayed {
  transition: 1s ease;
  background: $secondary;
  opacity: 0.4;
}

.addInfo {
  position: absolute;
  width: 50%;
  bottom: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  display: flex;
  justify-content: space-around;
}

.base-col:hover .addInfo {
  transition: 1s ease;
  opacity: 1;
}

.container-overlay {
  width: 50%;
  position: relative;
  margin: 0 auto;
}

.container-overlay > img {
  transition: 0.5s ease-in;
  width: 100%;
}


.logo-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.container-overlay:hover .logo-overlay {
  opacity: 1;
}

.container-overlay:hover .logo {
  opacity: 0;
}

// Gallery

@mixin photo($photo-num) {
  .photo-#{$photo-num} {
    background-image: url('./assets/img/gallery/#{$photo-num}.jpg');
  }
}

@for $num from 1 through $photo-count {
  @include photo($num);
}

.photo {
  background-size: 100% 100%;
  height: var(--gallery-photo-size);
  width: var(--gallery-photo-size);
  margin-right: 15px;
  margin-bottom: 15px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url('./assets/img/icons/circle.svg');
  transform: translateY(25%);
  -ms-transform: translateY(25%);
}

.hobby-list {
  margin: var(--vertical-margin)  auto;
  width: 80%;
}

.hobby {
  margin-bottom: 5px;
}

.active .circle {
  animation: dancing_circle 0.8s linear;
}

@keyframes dancing_circle {
	30%, to {
		transform: translateY(-5px);
  }
  60%, to {
		transform: translateY(5px);
  }
  80%, to {
		transform: translateY(-2px);
  }
  100%, to {
		transform: translateY(2px);
	}
}

.motto {
  font-size: 2rem;
  font-family: 'Montserrat', serif;
  color: $motto-color;
}

.cv {
  text-align: center;
}